<form [formGroup]="addAnnouncementForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-group">
        <label for="title">Unesi naslov</label>
        <div class="input-group">
            <input id="title"
                    type="text" 
                    formControlName="announcementTitle" 
                    class="form-control">
        </div>
    </div>
    <div class="form-group">
        <!--<label style="padding-right: 10px;">Choose Category</label>
        <kendo-dropdownlist [data]="listOfCategories">
        </kendo-dropdownlist>
        <br>-->
        <!--<label class="d-inline-block" style="padding-right: 10px;">Izaberite kategoriju</label>-->
        
        <label for="selCateg">Izaberi kategoriju</label>
        <select class="form-control d-inline-block"
                id="selCateg"
                formControlName="announcementCategory">
            <option *ngFor="let cat of listOfCategories" 
                    [value]="cat.categoryId"> 
                    
                {{ cat.categoryName }} 
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="datePickerAdd">Rok važenja</label>
        <input id="datePickerAdd" 
                bsDatepicker 
                type="text" 
                class="form-control"
                formControlName="announcementExpiryDate"
                placeholder="Izaberite datum"
                [minDate]="currentDate"
                [bsConfig]="{ isAnimated: true,
                                adaptivePosition: true,
                                containerClass: 'theme-dark-blue' }">
    </div>
    <div class="form-group">
        <!--
        <label for="priority">
        <strong>Important Indicator</strong>
        </label>
        <input id="priority" type="checkbox" formControlName="announcementPriority" class="form-control">
        -->
        <div class="form-check">
            <input class="form-check-input" 
                    type="checkbox" 
                    formControlName="announcementImportant"
                    id="impCheckBox">
            <label class="form-check-label" 
                    for="impCheckBox">
                    
                Indikator važnosti
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="form-check-label" 
                for="datePicker">
                
            Rok prikaza
        </label>
        <input id="datePicker" placeholder="yyyy-mm-dd"
             name="datePicker" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
             <ngb-datepicker #dp [(ngModel)]="model"></ngb-datepicker>
    </div>
    <div class="form-group">
        <label>Unesi opis</label>
        <!--<kendo-editor [(ngModel)]="annDescription" name="annDescription" style="height: 370px;"></kendo-editor>-->
        <kendo-editor class="custom-kendo-text-editor" 
                        [value]="annDescription" 
                        formControlName="announcementDescription" 
                        name="annDescription">
        </kendo-editor>
        <!--<input type="text" formControlName="announcementDescription" class="form-control" placeholder="Description">-->
    </div>
    <div class="form-group">
        <button type="submit"
                class="btn btn-primary form-control"
                [disabled]="!addAnnouncementForm.valid">
            Dodaj
        </button>
    </div>
</form>