<div class="container-fluid p-0">
    <!-- <div class="row" *ngIf="!listCategory && !listAnnouncements">
        <h1>Nema unesenih podataka o kategorijama i obvještenjima</h1>
    </div>
    <div class="row" *ngIf="!listCategory">
        <h1>Nema unesenih kategorija</h1>
    </div> -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <!-- <router-outlet></router-outlet> -->
            <!-- OVDJE POZVATI JOS JEDNU LISTU FILTRIRANU PO KATEGORIJAMA 
                 I STAVITI JE U *ngIf (*ngIf="listAnnouncementInCategory") -->
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="input-group">
                            <div class="col-lg-4 col-sm-12 p-0">
                                <h4 class="text-muted">Izaberi kategoriju</h4>
                            </div>
                            <div class="col-lg-8 col-sm-12 p-0">
                                <select class="form-control d-inline-block"
                                        id="selCateg"
                                        name="categoryId"
                                        [(ngModel)]="selectedCategory.categoryId"
                                        (change)="onCategoryChange()">

                                    <option value="0">---</option>
                                    <option *ngFor="let cat of listCategory" 
                                            [value]="cat.categoryId"> 
                                            
                                        {{ cat.categoryName }} 
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="col-12 px-0">
            <div *ngIf="listAnnouncements.length > 0">
                <div class="d-block mb-2">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="spinner-border text-primary" role="status" *ngIf="spinnerCategories">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 my-3 px-2" 
                                    *ngFor="let ann of listAnnouncements | paginate: { itemsPerPage: itmsPerPage, currentPage: selectedPage, totalItems: totalAnnItems };">
                                <app-announcement [announcementInput]="ann"
                                                  [announcementExpiry]="configApp.announcementExpiry"
                                                  (click)="onClick(ann.announcementId)">
                                </app-announcement>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="col-12 px-0">
                <div class="col-12 px-0">
                    <div class="container-fluid">
                        <div class="row d-flex justify-content-between">
                            <ngb-pagination class="col-lg-8 col-md-7 col-sm-12 col-xs-12 px-0"
                                            [collectionSize]="totalAnnItems" 
                                            [(page)]="selectedPage" 
                                            aria-label="Default pagination"
                                            [boundaryLinks]="true"
                                            [maxSize]="7"
                                            [rotate]="true"
                                            [pageSize]="itmsPerPage"
                                            (pageChange)="selectPage($event)">
                            </ngb-pagination>
                            <select class="custom-select col-lg-4 col-md-5 col-sm-12 col-xs-12"
                                    name="pageSize" 
                                    [(ngModel)]="itmsPerPage"
                                    (change)="onItemsPerPageChange()">
                                <option [ngValue]="6">6 objave po strani</option>
                                <option [ngValue]="12">12 objava po strani</option>
                                <option [ngValue]="18">18 objava po strani</option>
                                <option [ngValue]="24">24 objava po strani</option>
                                <option [ngValue]="30">30 objava po strani</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="announcementsNotExists">
                    <h4 class="text-center text-muted" *ngIf="listAnnouncements.length === 0">Trenutno nema obavještenja iz ove kategorije</h4>
                </div>
            </div>
        </div>
    </div>
</div>

