<div class="container-fluid">

    <div class="row">
        <div class="jumbotron rounded py-4 shadow col">
            <div class="container">
                <h2 class="text-center">
                    Dobro došli na eOglasnu Tablu
                </h2>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5 class="text-center">Saznajte sve novosti na vrijeme</h5>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="categoriesNotExist">
        <h4 class="text-center text-muted"> Trenutno nema objavljenih obavještenja </h4>
    </div>
    
    <div class="row">
        <div class="col-12 text-center">
            <div class="spinner-border text-primary" 
                 role="status" 
                 *ngIf="spinnerCategories">
            </div>
        </div>
    </div>

    <div class="row">
        <h4 class="text-muted mt-0 mb-1 pointerCursor" 
            *ngIf="listOfTheLatestAnnouncements.length" 
            (click)="onTheLatestClick()"> Najnovije </h4>
        <hr class="my-1 w-100" *ngIf="listOfTheLatestAnnouncements.length">
        <div *ngFor="let ann of listOfTheLatestAnnouncements"
             class="col-lg-4 col-md-6 col-sm-12 my-3 px-0 px-sm-2 px-md-2 px-xl-2 px-lg-2">

                <app-announcement [announcementInput]="ann" 
                                  [announcementExpiry]="configApp.announcementExpiry"
                                  (click)="onClick(ann.announcementId)">
                </app-announcement>
        </div>
    </div>

    <div class="row">
        <h4 class="text-muted mt-0 mb-1 pointerCursor" *ngIf="listOfTheMostImportantAnnouncements.length" (click)="onTheMostImportantClick()"> Najvažnije </h4>
        <hr class="my-1 w-100" *ngIf="listOfTheMostImportantAnnouncements.length">
        <div *ngFor="let ann of listOfTheMostImportantAnnouncements"
             class="col-lg-4 col-md-6 col-sm-12 my-3 px-0 px-sm-2 px-md-2 px-xl-2 px-lg-2">

                <app-announcement [announcementInput]="ann"
                                  [announcementExpiry]="configApp.announcementExpiry" 
                                  (click)="onClick(ann.announcementId)">
                </app-announcement>
        </div>
    </div>

    <div class="row" *ngFor="let cat of listOfCategory">
        <h4 *ngIf="cat.announcements[0]" class="text-muted mt-0 mb-1 pointerCursor" (click)="onCategoryClick(cat.categoryId)"> {{ cat.categoryName }} </h4>
        <hr *ngIf="cat.announcements[0]" class="my-1 w-100">
        <div *ngFor="let ann of filterAnnPerCat(cat.categoryId)"
             class="col-lg-4 col-md-6 col-sm-12 my-3 px-0 px-sm-2 px-md-2 px-xl-2 px-lg-2">

                <app-announcement [announcementInput]="ann" 
                                  [announcementExpiry]="configApp.announcementExpiry"
                                  (click)="onClick(ann.announcementId)">
                </app-announcement>
        </div>
    </div>
</div>
