<div class="card border-primary custom-card-style shadow">
    <div class="card-header container-fluid mx-0 py-1 px-1 px-1 px-sm-2 px-md-2 px-lg-2 px-xl-2">
        <div class="row">
            <div class="col-9 text-left align-middle">
                <h6 class="text-muted custom-ellipsis mb-0">
                    <strong>
                        {{ announcementInput.announcementTitle }}
                    </strong>
                </h6>
            </div>
            <div class="col-3 text-left align-middle text-right" *ngIf="announcementInput.isNew">
                <span class="badge badge-primary right"> Novo </span>
            </div>
            <div class="col-8 align-middle custom-ellipsis">
                <span class="small text-muted">
                    {{ announcementInput.categoryName }}
                </span>
            </div>
            <div class="col-4 text-right" *ngIf="announcementInput.importantIndicator || announcementInput.importantIndicator>0">
                <span class="badge badge-danger"> Važno! </span>
            </div>
        </div>
    </div>
    <div class="card-body container-fluid mx-0 px-1 px-1 px-sm-2 px-md-2 px-lg-2 px-xl-2 py-3">
        <div class="row divtext">
            <!-- {{filterImages(announcementInput)}} -->
            <div [ngClass]="{'col-0 col-md-5': filterImages(announcementInput)?.length > 0,
                             'col-0 d-none': filterImages(announcementInput)?.length == 0}"
                 *ngIf="filterImages(announcementInput)?.length">
                <img *ngFor="let file of filterImages(announcementInput)"
                     [src]="file.filePath" 
                     style="object-fit: cover; object-position: center center;"
                     class="d-none d-md-block w-100 h-100"/>
            </div>
            <div [ngClass]="{'col-12 col-md-7': filterImages(announcementInput)?.length > 0,
                             'col-12': filterImages(announcementInput)?.length == 0}">
                <!-- <span class="text-muted small line-clamp" [innerHTML]="announcementInput.announcementDescription"> -->
                <span class="text-muted small line-clamp">
                    {{ announcementInput.announcementDescription }}
                </span>
            </div>
            <!-- <div class="col-12 text-justify">
                <span class="text-muted small line-clamp">
                    {{ announcementInput.announcementDescription }}
                </span> -->
                <!-- <span class="text-muted small line-clamp" [innerHtml]="announcementInput.announcementDescription"></span> -->
            <!-- </div> -->
        </div>
    </div>
    <div class="card-footer container-fluid mx-0 py-1 px-1 px-sm-2 px-md-2 px-lg-2 px-xl-2">
        <div class="row">
            <p class="card-text col-12 mb-0 custom-ellipsis">
                <small class="w-100 text-muted">
                    Objavljeno {{ announcementInput.announcementDateCreated | date: 'dd.MM.yyyy. u HH:mm' }}, 
                    {{ announcementInput.userCreatedFirstName }} {{ announcementInput.userCreatedLastName }}
                </small>
            </p>
            <p class="card-text col-12 mb-0 custom-ellipsis">
                <small class="w-100 text-muted" *ngIf="announcementInput.announcementDateModified && announcementInput.userModifiedFirstName && announcementInput.userModifiedLastName                      ">
                    Modifikovano {{ announcementInput.announcementDateModified | date: "dd.MM.yyyy. u HH:mm"}},
                    {{ announcementInput.userModifiedFirstName }} {{ announcementInput.userModifiedLastName }}
                </small>
            </p>
        </div>
    </div>
</div>