.zoomElement:hover{
    transition-duration: 0.5s;
    transform: scale(1.02);
}

.myShadow:hover{
    transition-duration: 0.3s;
    box-shadow: 2px 4px rgb(139, 139, 139); 
}

.custom-link-class:hover {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .custom-card-style {
        max-height: 250px;
    }
}

@media only screen and (min-width: 768px) {
    .myShadow{
        height: 250px;
    }

    .custom-card-style {
        height: 250px;
    }
}

.custom-card-style :hover{
    cursor: pointer;
}

.custom-ann-description-style {
    max-height: 45px;
    overflow: hidden;
}

h6 :hover {
    text-decoration: none;
}

.custom-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.divtext {
    max-height: 115px;
    overflow: hidden;
}