<div class="card mx-1 border-primary custom-card-style shadow">
    <img class="card-img-top" 
         *ngIf="false" 
         src="http://placehold.it/750x300" 
         alt="Card image cap">
    <div class="card-header badge-danger" 
         *ngIf="false">
         <!--*ngIf="announcementInput.announcementImportantIndicator">-->
        <h5 class="text-center"><strong>!!! (VAŽNO)</strong></h5>
    </div>
    <div class="card-body">
        <h5 class="card-title mw-100 text-truncate">
            <span class="badge badge-success"> Novo </span>
            <a href="#">
                <strong> {{ announcementInput.announcementTitle }} </strong>
            </a>
        </h5>
        <span [className]="announcementInput.announcementImportantIndicator ? 'badge-danger' : 'badge-primary'" 
              class="badge mb-2">
            Kategorija 
        </span>
        <div class="card-text text-justify custom-ann-description-style" 
             [innerHTML]="announcementInput.announcementDescription">
        </div>
    </div>
    <div class="card-footer">
        <p class="card-text">
            <small class="text-muted">
                Objavljeno {{ announcementInput.announcementDateCreated | date: 'dd.MM.yyyy.' }} od
                <a href="#"> Rada Šućur </a>
            </small>
        </p>
    </div>
</div>