<nav id="navbar-md" class="navbar navbar-light bg-dark">
    <a class="navbar-brand text-white" 
       [routerLink]="'/home'"
       routerLinkActive="active"
       data-toggle="collapse" 
       data-target="#navbar-md-content">
       
       eOglasna Tabla
    </a>
    <button class="navbar-toggler bg-white" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbar-md-content" 
            aria-controls="navbar-md-content" 
            aria-expanded="false" 
            aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-md-content">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link mr-3 text-white collapse-navbar" 
                   [routerLink]="'/home'" 
                   data-toggle="collapse" 
                   data-target="#navbar-md-content" 
                   routerLinkActive="active"
                   style="font-size: small;">
                    
                    Početna
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 text-white collapse-navbar"
                   [routerLink]="'/the-latest'" 
                   routerLinkActive="active"
                   data-toggle="collapse" 
                   data-target="#navbar-md-content" 
                   style="font-size: small;">

                    Najnovije
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 text-white collapse-navbar"
                   [routerLink]="'/the-most-important'" 
                   routerLinkActive="active"
                   data-toggle="collapse" 
                   data-target="#navbar-md-content" 
                   style="font-size: small;">

                    Najvažnije
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 text-white collapse-navbar"
                   [routerLink]="'/categories'" 
                   routerLinkActive="active"
                   data-toggle="collapse" 
                   data-target="#navbar-md-content" 
                   style="font-size: small;">

                    Kategorije
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 text-white collapse-navbar"
                   [routerLink]="'/search-results'" 
                   routerLinkActive="active"
                   data-toggle="collapse" 
                   data-target="#navbar-md-content" 
                   style="font-size: small;">

                    Sve objave
                </a>
            </li>
            <li class="nav-item dropdown"
                *ngIf="isUserLoggedIn">
                <a class="nav-link dropdown-toggle mr-3 text-white"
                   routerLinkActive="active"
                   id="navbarDropdownProfile" 
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false"
                   style="font-size: small;">

                    Profil
                </a>
                <div class="dropdown-menu bg-dark"
                     aria-labelledby="navbarDropdownProfile">

                    <a style="font-size: small;"
                       data-toggle="collapse" 
                       data-target="#navbar-md-content" 
                       class="dropdown-item collapse-navbar text-white" 
                       [routerLink]="'/list-of-user-announcements'">
                       Upravljanje obavještenjima
                    </a>
                    <a style="font-size: small;" 
                       *ngIf="isAdmin" 
                       data-toggle="collapse" 
                       data-target="#navbar-md-content" 
                       class="dropdown-item collapse-navbar text-white" 
                       [routerLink]="'/list-of-all-announcements'">
                       
                       Upravljanje svim obavještenjima
                    </a>
                    <a style="font-size: small;" 
                       *ngIf="isAdmin" 
                       data-toggle="collapse" 
                       data-target="#navbar-md-content" 
                       class="dropdown-item collapse-navbar text-white" 
                       [routerLink]="'/list-of-all-categories'">
                       
                       Upravljanje kategorijama
                    </a>
                    <a style="font-size: small;" 
                       *ngIf="isAdmin" 
                       data-toggle="collapse" 
                       data-target="#navbar-md-content" 
                       class="dropdown-item collapse-navbar text-white" 
                       [routerLink]="'/show-all-users'">
                       
                       Upravljanje korisnicima
                    </a>
                    <!-- data-toggle="collapse" 
                        data-target="#navbar-content">Prikaz kategorija</a> -->
                    <a style="font-size: small;" 
                       data-toggle="collapse" 
                       data-target="#navbar-md-content" 
                       class="dropdown-item collapse-navbar text-white" 
                       [routerLink]="'/user-profile'">
                       
                       Upravljanje nalogom
                    </a>
                    <a style="font-size: small;" 
                       *ngIf="isAdmin" 
                       data-toggle="collapse" 
                       data-target="#navbar-md-content" 
                       class="dropdown-item collapse-navbar text-white" 
                       [routerLink]="'/users-statistic'">
                       
                       Statistika
                    </a>
                    <a style="font-size: small;" 
                       *ngIf="isAdmin" 
                       data-toggle="collapse" 
                       data-target="#navbar-md-content" 
                       class="dropdown-item collapse-navbar text-white" 
                       [routerLink]="'/page-settings'">
                       
                       Podešavanja sajta
                    </a>
                </div>
            </li>
            <!--<li *ngIf="isVisible"><a href="#">Korisnici</a></li>
            <li *ngIf="isVisible"><a href="#">Statistika</a></li>
            <li *ngIf="isVisible"><a href="#">Upravljanje nalozima</a></li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input type="text" class="form-control w-100"
                        name="searchModelSmallNav"
                        placeholder="Pretraga po naslovu"
                        [ngbTypeahead]="search"
                        [inputFormatter]="formatter"
                        [resultFormatter]="formatter"
                        [editable]='false'
                        (selectItem)="selectedItem($event)"
                        style="font-size: small;">
        </form>
        <div class="my-1">
            <i *ngIf="isUserLoggedIn" 
               class="fa fa-user-o mr-2 fa-lg" 
               style="color: white; vertical-align: middle;" 
               aria-hidden="true">
            </i>
            <a data-toggle="collapse" 
               data-target="#navbar-md-content" 
               *ngIf="isUserLoggedIn" 
               [routerLink]="'/user-profile'" 
               routerLinkActive="active" 
               class="text-white mr-4" 
               style="text-decoration: underline; vertical-align: middle; font-size: small;"> 
                {{ loggedUserName }} 
            </a>
        </div>
        <button *ngIf="!isUserLoggedIn"
                type="button" 
                class="btn btn-primary my-2 my-sm-0 col-xs-12"
                (click)="openModal(template)" 
                data-toggle="collapse" 
                data-target="#navbar-md-content"
                style="font-size: small;">
                
                <i class="fa fa-sign-in mr-1" aria-hidden="true"></i>
                Prijavi se
        </button>
        <button *ngIf="isUserLoggedIn"
                type="button" 
                class="btn btn-danger my-2 my-sm-0 col-xs-12"
                (click)="onSignOut()"
                data-toggle="collapse" 
                data-target="#navbar-md-content"
                style="font-size: small;">

                Odjavi se
                <i class="fa fa-sign-out ml-1" aria-hidden="true"></i>
        </button>
        <!--<button class="btn btn-success my-2 my-sm-0">Prijavi se</button>-->
    </div>
</nav>
<!-- Big Nav -->
<nav id="navbar-lg" class="navbar navbar-expand-lg navbar-light bg-dark custom-sticky-navbar">
    <a class="navbar-brand text-white" 
       [routerLink]="'/home'"
       routerLinkActive="active">
       
       eOglasna Tabla
    </a>
  
    <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white collapse-navbar" 
                   [routerLink]="'/home'"
                   routerLinkActive="active" 
                   style="font-size: small;">
                    
                    Početna
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white collapse-navbar"
                   [routerLink]="'/the-latest'"
                   routerLinkActive="active" 
                   style="font-size: small;">

                    Najnovije
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white collapse-navbar"
                   [routerLink]="'/the-most-important'" 
                   routerLinkActive="active" 
                   style="font-size: small;">

                    Najvažnije
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white collapse-navbar"
                   [routerLink]="'/categories'" 
                   routerLinkActive="active" 
                   style="font-size: small;">

                    Kategorije
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white collapse-navbar"
                   [routerLink]="'/search-results'" 
                   routerLinkActive="active" 
                   style="font-size: small;">

                    Sve objave
                </a>
            </li>
            <li class="nav-item dropdown"
                *ngIf="isUserLoggedIn">
                <a class="nav-link dropdown-toggle text-white"
                   id="navbarDropdownProfile" 
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false"
                   style="font-size: small;">

                    Profil
                </a>
                <div class="dropdown-menu bg-dark drop-down-hover"
                     aria-labelledby="navbarDropdownProfile">

                    <a style="font-size: small;" 
                       class="dropdown-item collapse-navbar text-white drop-down-hover" 
                       [routerLink]="'/list-of-user-announcements'">
                       
                       Upravljanje obavještenjima
                    </a>
                    <a style="font-size: small;" 
                       *ngIf="isAdmin" 
                       class="dropdown-item collapse-navbar text-white drop-down-hover" 
                       [routerLink]="'/list-of-all-announcements'">
                           
                       Upravljanje svim obavještenjima
                    </a>
                    <a style="font-size: small;" 
                       *ngIf="isAdmin" 
                       class="dropdown-item collapse-navbar text-white drop-down-hover" 
                       [routerLink]="'/list-of-all-categories'">
                           
                       Upravljanje kategorijama
                    </a>
                    <a style="font-size: small;" 
                       *ngIf="isAdmin" 
                       class="dropdown-item collapse-navbar text-white drop-down-hover" 
                       [routerLink]="'/show-all-users'">
                           
                       Upravljanje korisnicima
                    </a>
                    <!-- data-toggle="collapse" 
                        data-target="#navbar-content">Prikaz kategorija</a> -->
                    <a style="font-size: small;" 
                       class="dropdown-item collapse-navbar text-white drop-down-hover" 
                       [routerLink]="'/user-profile'">
                       
                       Upravljanje nalogom
                    </a>
                    <a style="font-size: small;" 
                       *ngIf="isAdmin" 
                       class="dropdown-item collapse-navbar text-white drop-down-hover" 
                       [routerLink]="'/users-statistic'">
                        
                       Statistika
                    </a>
                    <a style="font-size: small;" 
                       *ngIf="isAdmin" 
                       class="dropdown-item collapse-navbar text-white drop-down-hover" 
                       [routerLink]="'/page-settings'">
                           
                       Podešavanja sajta
                    </a>
                </div>
            </li>
            <!--<li *ngIf="isVisible"><a href="#">Korisnici</a></li>
            <li *ngIf="isVisible"><a href="#">Statistika</a></li>
            <li *ngIf="isVisible"><a href="#">Upravljanje nalozima</a></li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0 mr-2">
            <input type="text" class="form-control"
                        name="searchModelBigNav"
                        placeholder="Pretraga po naslovu"
                        [ngbTypeahead]="search"
                        [inputFormatter]="formatter"
                        [resultFormatter]="formatter"
                        [editable]='false'
                        (selectItem)="selectedItem($event)"
                        style="font-size: small;">
        </form>
        <div>
            <i *ngIf="isUserLoggedIn" 
               class="fa fa-user-o mr-2 fa-lg" 
               style="color: white; vertical-align: middle;" 
               aria-hidden="true"></i>
            <a *ngIf="isUserLoggedIn" 
               [routerLink]="'/user-profile'" 
               routerLinkActive="active" 
               class="text-white mr-2" 
               style="text-decoration: underline; vertical-align: middle; font-size: small;"> 
                {{ loggedUserName }} 
            </a>
        </div>
        <button *ngIf="!isUserLoggedIn; else loggedOut"
                type="button" 
                class="btn btn-primary my-2 my-sm-0 col-xs-12"
                (click)="openModal(template)"
                style="font-size: small;">

                <i class="fa fa-sign-in mr-1" aria-hidden="true"></i>
                Prijavi se
        </button>
        <ng-template #loggedOut>
            <button *ngIf="isUserLoggedIn"
                    type="button" 
                    class="btn btn-danger my-2 my-sm-0 col-xs-12"
                    (click)="onSignOut()"
                    style="font-size: small;">

                    Odjavi se
                    <i class="fa fa-sign-out ml-1" aria-hidden="true"></i>
            </button>
        </ng-template>
    </div>
</nav>
 
<ng-template #template>
    <div class="bg-dark">
        <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body custom-modal-body">
            <div class="col-12 mt-4">
                <nav class="text-center px-0">
                    <div class="nav nav-tabs" 
                            id="nav-tab" 
                            role="tablist">
    
                        <a class="col-6 nav-item nav-link active" 
                            id="nav-signin-tab" 
                            data-toggle="tab" 
                            href="#nav-signin" 
                            role="tab" 
                            aria-controls="nav-signin" 
                            aria-selected="true">
                            <!-- (click)="onSignIn()"> -->
    
                            <strong>Sign In</strong>
                        </a>
                        <a class="col-6  nav-item nav-link" 
                            id="nav-signup-tab" 
                            data-toggle="tab" 
                            href="#nav-signup" 
                            role="tab" 
                            aria-controls="nav-signup" 
                            aria-selected="false">
    
                            <strong>Sign Up</strong>
                        </a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane active" 
                            id="nav-signin" 
                            role="tabpanel" 
                            aria-labelledby="nav-signin-tab">
    
                        <app-login-form (closeModal)="closeModal()"></app-login-form>
                    </div>
                    <div class="tab-pane" 
                            id="nav-signup" 
                            role="tabpanel" 
                            aria-labelledby="nav-signup-tab">
    
                        <app-registration-form (closeModal)="closeModal()"></app-registration-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>