<div class="jumbotron jumbotron-fluid rounded py-4 shadow">
    <div class="container">
        <div class="row">
            <div class="m-auto" style="border: 2px solid red; border-radius: 10px; padding: 5px">
                <div>
                    <span class="badge badge-success mx-1"> Novo </span>
                    <p class="d-inline-block mx-1">Obavještenje u posljednja 24 sata</p>
                </div>
                <div>
                    <span class="badge badge-primary mx-1"> Kategorija </span>
                    <p class="d-inline-block mx-1">Niži nivo vaznosti</p>
                </div>
                <div>
                    <span class="badge badge-danger mx-1"> Kategorija </span>
                    <p class="d-inline-block mx-1 mb-0">Viši nivo vaznosti</p>
                </div>
            </div>
        </div>
    </div>
</div>