<!--<div class="wrapper">
    <div class="wrapped-div">
        <div class="tab-header">
            <h2 routerLink='/user/login' routerLinkActive='active'>Sign In</h2>
            <h2 routerLink='/user/registration' routerLinkActive='active'>Sign Up</h2>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
            <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>-->
<div class="col-lg-12 col-sm-12 col-12 main-section mt-4 bg-dark">
    <div class="form-input">
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input #usernameRef
                           type="email" 
                           formControlName="userName" 
                           class="form-control" 
                           placeholder="example@mail.com">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input [type]="fieldTextType ? 'text' : 'password'"
                            class="form-control"
                            formControlName="password" 
                            class="form-control" 
                            placeholder="Lozinka" 
                            autocomplete="on">

                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa"
                                [ngClass]="{
                                    'fa-eye-slash': !fieldTextType,
                                    'fa-eye': fieldTextType
                                }"
                                (click)="toggleFieldTextType()">
                            </i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- <div class="form-group">
                <input id="chckbxRememberMe" type="checkbox">
                <label class="ml-2 text-white" for="chckbxRememberMe">Zapamti podatke</label>
            </div> -->
            <div class="form-group">
                <button type="submit" 
                        class="btn btn-primary text-white" 
                        [disabled]="!loginForm.valid">
                    
                    Prijavi se
                </button>
            </div>
        </form>
    </div>
    <div class="text-center">
        <button class="text-white btn btn-primary" data-toggle="collapse" 
        data-target="#forgot-password">Zaboravili ste lozinku?</button>
        <div id="forgot-password" class="collapse bg-dark card p-0 col-12 mt-2">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
                <input type="email" 
                               formControlName="forgotPassword"
                               class="form-control w-100 my-2" 
                               placeholder="example@mail.com">
                <button class="btn btn-primary w-100 mb-2 text-white" 
                        data-target="#forgot-password" 
                        data-toggle="collapse" 
                        type="submit"
                        (click)="forgotPasswordForm.reset()"
                        [disabled]="!forgotPasswordForm.valid">Pošalji</button>
            </form>
        </div>
    </div>
</div>