<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-12" [ngClass]="announcementFromSameCategory.length > 0 ? ['col-lg-8', 'col-md-7'] : ['col-lg-12', 'col-md-12']">

            <!-- Title -->
            <h4 class="mt-4 text-muted">
                {{ announcement.announcementTitle }}
            </h4>

            <!-- Important indicator -->
            <h5 class="my-0">
                <h5 *ngIf="announcement.isNew" class="badge badge-primary mr-1">
                    Novo
                </h5>
                <h5 *ngIf="announcement.importantIndicator" class="badge badge-danger">
                    Važno
                </h5>
            </h5>

            <!-- Category -->
            <h5 class="text-muted cursor-pointer" (click)="onCategoryClick(announcement.categoryId)">
                Kategorija: {{ announcement.categoryName }} 
            </h5>
            <hr class="my-2">

            <!-- Data/Time and Author -->
            <p class="text-muted my-2">
                Objavljeno {{ announcement.announcementDateCreated | date: "dd.MM.yyyy. u HH:mm"}}, 
                {{ announcement.userCreatedFirstName }} {{ announcement.userCreatedLastName }}
            </p>
            <p class="text-muted my-2" *ngIf="announcement.announcementDateModified && announcement.userModifiedFirstName && announcement.userModifiedLastName">
                Modifikovano {{ announcement.announcementDateModified | date: "dd.MM.yyyy. u HH:mm"}}, 
                {{ announcement.userModifiedFirstName }} {{ announcement.userModifiedLastName }}
            </p>
            <hr class="mt-2 mb-4">

            <!-- Data/Time and Author modified if Modified  -->
            <div *ngIf="false"></div>
            
            <!-- Description -->
            <p class="text-muted" [innerHTML]="announcement.announcementDescription"></p>
            <hr>
            
            <div *ngFor="let item of filterFiles">
                <video class="col-12 px-0" controls>
                    <source [src]="item.filePath" type="video/mp4">
                    <source [src]="item.filePath" type="video/ogg">
                    <source [src]="item.filePath" type="video/webm">
                </video>
            </div>
            <br>
            <div class="col-12 px-0">
                <carousel [isAnimated]="true"
                          [showIndicators]="true"
                          [pauseOnFocus]="true"
                          [noPause]="true">
    
                    <slide *ngFor="let item of filterImages">
                        <img [src]="item.filePath" 
                             style="height: 400px; object-fit: cover; object-position: 0 0;"
                             class="mb-2 px-0 col-12">
                    </slide>
                </carousel>
            </div>
            <hr *ngIf="listOfFiles.length > 0">
            <pdf-viewer *ngFor="let item of filterPDFFiles(announcement)"
                        [src]="item.filePath"
                        [show-all]="true"
                        [show-borders]="true"
                        [original-size]="true"
                        [render-text]="true"
                        [render-text-mode]="1"
                        [zoom]="0.9"
                        style="display: block;"
                        class="col-12">
            </pdf-viewer>
            <hr *ngIf="listOfFiles.length > 0">
            <p *ngIf="listOfFiles.length > 0" class="text-muted">Priloženi fajovi</p>
            <app-file-manager *ngIf="listOfFiles.length > 0" [listOfFiles]="listOfFiles" class="text-muted"></app-file-manager>
        </div>

        <div class="col-lg-4 col-md-5 col-sm-12" [ngClass]="announcementFromSameCategory.length > 0 
                                                            ? ['col-lg-4', 'col-md-5'] 
                                                            : ['col-lg-12', 'col-md-12']"
                                                 *ngIf="announcementFromSameCategory.length > 0">
            
            <br>

            <!-- Announcement from same category -->
            <h4 class="text-muted">Iz iste kategorije</h4>
            <hr class="col-12 px-0">
            <div class="row">
                <div *ngFor="let ann of announcementFromSameCategory"
                        class="col-12 my-2">

                    <app-announcement [announcementInput]="ann" 
                                      [announcementExpiry]="configApp.announcementExpiry"
                                      (click)="onClick(ann.announcementId)">
                    </app-announcement>
                </div>
            </div>
        </div>
    </div>
</div>