<!-- <div class="container-fluid d-none d-xl-block"> -->
<div class="row">
    <div class="col-12">
        <button *ngIf="!announcementsNotExist" class="btn btn-primary btn-lg col-4 offset-4 mb-2" (click)="openFullscreen()">Prikaži preko cijelog ekrana</button>
        <div #tvContainer class="container-fluid p-0 hide-browser-border d-none d-xl-block shadow" style="display: none;">
            <div class="row">
                <div class="col-xl-12">
                    <carousel [isAnimated]="true" 
                              [interval]="false" 
                              [showIndicators]="false"
                              [pauseOnFocus]="false"
                              [noPause]="true"
                              [(activeSlide)]="activeSlide"
                              (activeSlideChange)="onSlideChange($event)">
        
                        <slide *ngFor="let ann of listOfAnnouncements; let i = index; trackedBy: trackByIdentity">
                            <div class="card">
                                <div class="card-body tv-container">
                                    <div class="col-12 d-inline-block" style="overflow-y: scroll; overflow: hidden; height: 95vh;">
                                        <h2 class="px-0 mt-2 fw-bold text-muted col-10 d-inline-block">
                                            {{ ann.announcementTitle }}
                                        </h2>
                                        <span class="text-muted px-0 mt-2 col-2 d-inline-block text-right float-right"> Slajd {{ activeSlide + 1 }} od {{ listOfAnnouncements.length }} </span>
                                        
                                        <!-- Important indicator -->
                                        <h4 class="my-0">
                                            <h4 *ngIf="ann.isNew" class="badge badge-primary mr-1">
                                                Novo
                                            </h4>
                                            <h4 *ngIf="ann.importantIndicator" class="badge badge-danger">
                                                Važno
                                            </h4>
                                        </h4>
                                        
                                        <!-- Category -->
                                        <h5 class="text-muted">
                                            Kategorija: {{ ann.categoryName }}
                                        </h5>
                                        <hr class="my-2">
            
                                        <!-- Data/Time and Author -->
                                        <p class="text-muted my-2">
                                            Obajvljeno {{ ann.announcementDateCreated | date: "dd.MM.yyyy. u HH:mm"}}, 
                                            autor {{ ann.userCreatedFirstName }} {{ ann.userCreatedLastName }} 
                                        </p>
                                        <p class="text-muted my-2" *ngIf="ann.announcementDateModified && ann.userModifiedFirstName && ann.userModifiedLastName                      ">
                                            Modifikovano {{ ann.announcementDateModified | date: "dd.MM.yyyy. u HH:mm"}}, 
                                            modifikovao {{ ann.userModifiedFirstName }} {{ ann.userModifiedLastName }}
                                        </p>
                                        <hr class="mt-2 mb-4">
    
                                        <!-- Description -->
                                        <p class="text-muted" [innerHTML]="ann.announcementDescription"></p>

                                        <hr *ngIf="filterImages(ann).length != 0">
                                        <img *ngFor="let item of filterImages(ann)" 
                                             [src]="item.filePath" 
                                             style="object-fit: cover; object-position: 0 0;"
                                             class="mb-2 p-2"
                                             [ngClass]="{'col-12': filterImages(ann).length == '1', 
                                                         'col-6': filterImages(ann).length > '1' }"
                                             [ngStyle]="{'height.px': filterImages(ann).length == '1' ? '500' : '300'}">
                                        <hr *ngIf="filterFiles(ann).length != 0">
                                        <pdf-viewer *ngFor="let item of filterFiles(ann)"
                                                    [src]="item.filePath"
                                                    [show-all]="true"
                                                    [show-borders]="true"
                                                    [original-size]="true"
                                                    [render-text]="true"
                                                    [render-text-mode]="1"
                                                    [zoom]="0.9"
                                                    style="display: block;"
                                                    class="col-12">
                                        </pdf-viewer>
                                    <div *ngIf="filterVideos(ann).length > 0" style="height: 40vh;"></div>
                                </div>
                                    <div *ngFor="let item of filterVideos(ann)">
                                        <video style="position: fixed; bottom: 10px; right: 10px; width: auto; height: 40vh;" autoplay loop muted>
                                            <source [src]="item.filePath" [type]="item.type">
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
        <div>
            <h4 *ngIf="announcementsNotExist" class="text-muted my-5">Trenutno nema obavještenja</h4>
        </div>
        <div class="col-12 text-center my-5">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status" *ngIf="spinnerCarousel">
            </div>
        </div>
    </div>
</div>
